html, body {
    font-family: Inter;
    margin: 0;
    padding: 0;
}

/**************************** NAVIGATION ****************************/

#nav-bar-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
}


header {
    font-family: Inter;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/main-image.png');
    background-size: cover;
    height: 20vh;
}

/*************************** LINKS **************************/

a {
    font-family: inherit;
    font-weight: 500;
    font-size: 1.5rem;
    color: #FFFFFF;
}

.add-to-watchlist-btn,.read-more-btn {
    background-color: white;
    border: none;
}

#search-btn {
    font-family: inherit;
    background: #F9FAFB;
    color: #374151;
    padding: 0.5em 1em 0.5em 1em;
    border: 1px solid #D1D5DB;
    border-left:none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0px 1px 2px 0px #0000000D;
    width: 15%;
}

/************************** LAYOUT *************************/

.movie{
    display: flex;
    gap: 1.5em;
    width: 100%;

}

.section {
    display: flex;
    align-items: center;
    gap: 0.5em;

}

.movie-poster{
    width: 10%;
}


/************************ TYPOGRAPHY **************************/

h1 {
    font-family: inherit;
    font-weight: 800;
    font-size: 42.79px;
    color: #FFFFFF;


}

#movies-list{
    width: 85%;
    margin: auto auto;
}


.movie-title{
    font-weight: 500;
    font-size: 18px;
    width:40%;

}


#movie-search-field {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    background: url('icons/search-solid.svg') white no-repeat 0.8em 0.6em;
    padding: 0.5em 13.25em 0.5em 2.5em;
    background-size: 1rem;
    border: 1px solid #D1D5DB;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-width: 1px;
    width: 70%;
    box-shadow: 0px 1px 2px 0px #0000000D;
    outline:none
}

#search-container {
    display: flex;
    justify-content: center;
    margin-top: -1.25em;
}


/* ************************** MEDIA QUERY **************************/
